.dragging .footer, .dragging .footer * {
    user-select: none;
    pointer-events: none;
    touch-action: none;
}

.footer {
    box-sizing: border-box;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.3);
}

.footer p {
    font-size: 12px;
    line-height: var(--footerHeight, 0px);
    font-weight: 300;
}

.footer p a {
    font-weight: 400;
    color: #9ea9b5;
}