.canvasContainer {
    z-index: 1;
    position: absolute;
    width: calc(100% - var(--controlsWidth, 0px));
    left: var(--controlsWidth, 0px);
    top: 0px;
    height: calc(100% - calc(var(--outputHeight, 0px) + var(--footerHeight, 0px)));
}

.controlsContainer {
    z-index: 2;
    position: fixed;
    width: var(--controlsWidth, 0px);
    height: calc(100% - calc(var(--outputHeight, 0px) + var(--footerHeight, 0px)));
    left: 0px;
    top: 0px;
}

.outputsContainer {
    z-index: 3;
    position: fixed;
    width: 100%;
    height: var(--outputHeight, 0px);
    left: 0px;
    bottom: var(--footerHeight, 0px);
}

.footer {
    z-index: 4;
    width: 100%;
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: var(--footerHeight, 0px);
}